
/* navbar */
.navbar-dogetor {
    background-color: rgb(251, 165, 38);
    border-color: rgb(251, 165, 38);
}
/* Title */
.navbar-dogetor .navbar-brand {
    color: rgb(252, 253, 252);
}
.navbar-dogetor .navbar-brand:hover,
.navbar-dogetor .navbar-brand:focus {
    background-color: rgb(244, 146, 2);
}
/* Link */
.navbar-dogetor .navbar-nav > li > a {
    color: rgb(252, 253, 252);
}
.navbar-dogetor .navbar-nav > li > a:hover,
.navbar-dogetor .navbar-nav > li > a:focus {
    color: rgb(252, 253, 252);
    background-color: rgb(244, 146, 2);
}
.navbar-dogetor .navbar-nav > .active > a,
.navbar-dogetor .navbar-nav > .active > a:hover,
.navbar-dogetor .navbar-nav > .active > a:focus {
    color: rgb(252, 253, 252);
    background-color: rgb(244, 146, 2);
}
.navbar-dogetor .navbar-nav > .open > a,
.navbar-dogetor .navbar-nav > .open > a:hover,
.navbar-dogetor .navbar-nav > .open > a:focus {
    color: rgb(252, 253, 252);
    background-color: rgb(244, 146, 2);
}
/* Caret */
.navbar-dogetor .navbar-nav > .dropdown > a .caret {
    border-top-color: rgb(252, 253, 252);
    border-bottom-color: rgb(252, 253, 252);
}
.navbar-dogetor .navbar-nav > .dropdown > a:hover .caret,
.navbar-dogetor .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: rgb(252, 253, 252);
    border-bottom-color: rgb(252, 253, 252);
}
.navbar-dogetor .navbar-nav > .open > a .caret,
.navbar-dogetor .navbar-nav > .open > a:hover .caret,
.navbar-dogetor .navbar-nav > .open > a:focus .caret {
    border-top-color: rgb(252, 253, 252);
    border-bottom-color: rgb(252, 253, 252);
}
/* Mobile version */
.navbar-dogetor .navbar-toggle {
    border-color: rgb(252, 253, 252);
}
.navbar-dogetor .navbar-toggle:hover,
.navbar-dogetor .navbar-toggle:focus {
    background-color: rgb(244, 146, 2);
}
.navbar-dogetor .navbar-toggle .icon-bar {
    background-color: rgb(252, 253, 252);
}
@media (max-width: 767px) {
    .navbar-dogetor .navbar-nav .open .dropdown-menu > li > a {
        color: rgb(252, 253, 252);
    }
    .navbar-dogetor .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-dogetor .navbar-nav .open .dropdown-menu > li > a:focus {
        color: rgb(252, 253, 252);
    }
}